<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>


    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>

    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
</head>
<body>


<h2>ISS tracker</h2>

<div id="map"></div>

<input id="clickMe" type="button" value="Start Tracking" onclick="tracking();"/>


<script>
    function initMap() {

        var intervalInMilliseconds = 1000;
        var markers = [];

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: {lat: 51.11007742432243, lng: 17.033081393335124},
            mapTypeId: 'hybrid'
        });

        var icon = {
            url: "https://i.ibb.co/72gpnJ4/956251-200.png",
            scaledSize: new google.maps.Size(70, 70), // scaled size
            origin: new google.maps.Point(0, 0), // origin
            anchor: new google.maps.Point(0, 0) // anchor
        };

        var el = document.getElementById("clickMe");
        if (el.addEventListener)
            el.addEventListener("click", trackIss, false);
        else if (el.attachEvent)
            el.attachEvent('onclick', trackIss());

        document.getElementById("clickMe").onclick = function () {};


        function trackIss() {

            setInterval(getCurrentPosition, intervalInMilliseconds);

            function getCurrentPosition() {

                getJSON('http://localhost:8080/position',
                    function (err, data) {
                        if (err !== null) {
                            console.log('Something went wrong: ' + err);
                        } else {
                            setMarker(data)
                        }
                    });
            }
        }


        function setMarker(position) {

            setMapOnAll(null);
            map.setCenter({lat: position.latitude, lng: position.longitude});
            map.setZoom({zoom: 9});
            var marker = new google.maps.Marker({
                position: {lat: position.latitude, lng: position.longitude},
                map: map,
                icon: icon
            });
            markers.push(marker);

        }

        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }


        var getJSON = function (url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = 'json';
            xhr.onload = function () {
                var status = xhr.status;
                if (status === 200) {
                    callback(null, xhr.response);
                } else {
                    callback(status, xhr.response);
                }
            };
            xhr.send();
        };
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKMSf74WjPCIZBva_RDKFJgs0RHzmUkj8&callback=initMap">
</script>

</body>
</html>